matplotlib
seaborn
pandas
requests
mlxtend
PyPDF2
ipykernel
# duckduckgo

# --- Model Integrations (Must be compatible with v0.3) ---
langchain-google-genai>=2.0.0
langchain-openai
langchain-anthropic
langchain-huggingface
langchain-ollama
langchain_groq
langchain
# --- AI & Data Utilities ---
tensorflow
transformers
huggingface-hub
torch
torchvision
numpy
scikit-learn
numexpr
sentence-transformers
chromadb
PyMuPDF

# --- App Interfaces ---
streamlit
gradio

# --- Tools & Helpers ---
python-dotenv
grandalf
youtube_transcript_api

# --- Pydantic (Let Pip resolve this naturally to satisfy Gradio) ---
pydantic
pydantic[email]
google-genai





##################################################################################################

# following are the new installations added recently
langchain-tavily
langgraph
networkx 
matplotlib
langchain-experimental
tf-keras
langchain-classic



# fastapi

fastapi
uvicorn
pydantic


# plotly
plotly
nbformat